<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Predict Policy Renewal</title>

</head>


<body class="text-white bg-dark">

    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <h2 class="my-4">Upload data file and wait for predictions file to download</h2>
        <form class="my-4" method=post enctype=multipart/form-data>
            <div class="input-group mb-3">
                <input type="file" name="file" class="form-control">
                <input type=submit value=Upload class="input-group-text">
            </div>
        </form>
        <div class="w-40">
            <table class="table table-dark table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Supported separator</th>
                        <td>;</td>
                    </tr>
                    <tr>
                        <th scope="row">Supported filetypes</th>
                        <td>.csv, .txt</td>
                    </tr>
                    <tr>
                        <th scope="row">Supported data columns</th>
                        <td colspan="2">as in 'data.txt'</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

</body>